name: Build Project

on:
  workflow_dispatch:
    inputs:
      gitURL:
        required: true
      projectSlug:
        required: true
      apiURL:
        required: true
      apiKey:
        required: true
      bucketId:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Run container
        run: |
          docker run --rm -e GIT_REPOSITORY_URL="${{ github.event.inputs.gitURL }}" -e API_URL="${{ github.event.inputs.apiURL }}" -e API_KEY="${{ github.event.inputs.apiKey }}" -e BUCKET_ID="${{ github.event.inputs.bucketId }}" sahil1107/builder-server:latest
