name: Build Project

on:
  workflow_dispatch:
    inputs:
      gitURL:
        required: true
      projectSlug:
        required: true
      bucketId:
        required: true
      deploymentId:
        required: true
      userEnv:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install Redis CLI
        run: sudo apt-get install -y redis-tools

      - name: Run container and stream logs
        run: |
          docker run --rm \
            -e USER_ENV="${{ github.event.inputs.userEnv }}" \
            -e DEPLOYMENT_ID="${{ github.event.inputs.deploymentId }}" \
            -e SLUG="${{ github.event.inputs.projectSlug }}" \
            -e GIT_REPOSITORY_URL="${{ github.event.inputs.gitURL }}" \
            -e BUCKET_ID="${{ github.event.inputs.bucketId }}" \
            -e SUPABASE_URL="${{ secrets.SUPABASE_URL }}"
            -e SUPABASE_KEY="${{ secrets.SUPABASE_KEY }}"
            sahil1107/builder-server:latest
