name: Build Project

on:
  workflow_dispatch:
    inputs:
      gitURL:
        required: true
      projectSlug:
        required: true
      bucketId:
        required: true
      deploymentId:
        required: true
      userEnv:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Run container and stream logs
        run: |
          docker run --rm \
            -e USER_ENV="${{ github.event.inputs.userEnv }}" \
            -e DEPLOYMENT_ID="${{ github.event.inputs.deploymentId }}" \
            -e SLUG="${{ github.event.inputs.projectSlug }}" \
            -e GIT_REPOSITORY_URL="${{ github.event.inputs.gitURL }}" \
            -e BUCKET_ID="${{ github.event.inputs.bucketId }}" \
            -e SUPABASE_ENDPOINT="${{ secrets.SUPABASE_ENDPOINT }}" \
            -e REGION="${{ secrets.REGION }}" \
            -e SUPABASE_ACCESS_KEY="${{ secrets.SUPABASE_ACCESS_KEY }}" \
            -e SUPABASE_SECRET_KEY="${{ secrets.SUPABASE_SECRET_KEY }}" \
            -e DSN="${{ secrets.DSN }}" \
            sahil1107/builder-server:latest
